<!-- Header -->
<header id="header">
    <a href="/" class="logo"><strong>DeadEngineerDiary</strong> : I am only the noise on the wires, keep on looking for the right thing to do</a>
    <ul class="icons">
				<li><a href="https://linkedin.com/in/alekum" class="icon fa-linkedin"><span class="label">LinkedIn</span></a></li>
				<li><a href="https://twitter.com/_alekum_" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
				<li><a href="https://t.me/alekum" class="icon fa-telegram"><span class="label">Telegram</span></a></li>
				<li><a href="https://t.me/DeadEngi" class="icon fa-paper-plane"><span class="label">The Dead Engineer Diary</span></a></li>
				<!-- <li><a href="" class="icon fa-facebook"><span class="label">Facebook</span></a></li> -->
				<li><a href="https://www.youtube.com/playlist?list=PLL4Eeho-H3dcE-KXBXSZvMIrbfwauvvmi" class="icon fa-youtube"><span class="label">Youtube</span></a></li>
				<li><a href="manifesto.txt" class="icon fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
				<li><a href="https://github.com/rojaster" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://github.com/alekum" class="icon fa-github"><span class="label">Github</span></a></li>
				<li><a href="https://gitlab.com/alekum" class="icon fa-gitlab"><span class="label">Gitlab</span></a></li>
				<li><a href="https://bitbucket.org/rojaster" class="icon fa-bitbucket"><span class="label">Bitbucket</span></a></li>
    </ul>
</header>
