<!-- Sidebar is inactive by default for the index page -->
<div id="sidebar" class="inactive">
		<div class="inner">
				<!-- Menu -->
				<nav id="menu">
						<header class="major">
								<h2>Menu</h2>
						</header>
						<ul>
							{% for link in site.data.menunavi %}
								<li><a href="{{ link.link }}" {% if page.url == link.link %}style="color:red;"{% endif %}>{{ link.name }}</a></li>
							{% endfor %}
						</ul>
				</nav>

				<!-- Section: Get in Touch -->
				<section>
						<header class="major">
								<h2>Get in touch</h2>
						</header>
						<p>Where there is a willing, there is a way</p>
						<ul class="contact">
								<li class="fa-envelope-o"><a href="mailto:rojaster@yandex.ru?subject=Dead Engineer Diary">Email Me</a></li>
								<li class="fa-telegram"><a href="https://t.me/alekum">Tg Me</a></li>
								<li class="fa-telegram"><a href="https://t.me/codediggers">Codediggers channel</a>
								<li class="fa-telegram"><a href="https://t.me/nakeit">Naked IT - all around the industry</a>
								<li class="fa-telegram"><a href="https://t.me/DeadEngi">Dead Engineering Diary</a>
						</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
						<p class="copyright">&copy; ASTEC. Alekum. 2020</p>
				</footer>

		</div>
</div>
