<!-- Sidebar is inactive by default for the index page -->
<div id="sidebar" class="inactive">
		<div class="inner">
				<!-- Menu -->
				<nav id="menu">
						<header class="major">
								<h2>Menu</h2>
						</header>
						<ul>
								<li><a href="/">Homepage</a></li>
				<!-- 		<li><a href="generic.html">Generic</a></li>
								<li><a href="elements.html">Elements</a></li>
                <li><a href="/blog">Blog</a></li> -->
								<li><a href="public/CV.pdf">Curriculum vitae</a></li>
								<li><a href="about.html">About me</a></li>
						</ul>
				</nav>

				<!-- Section: Get in Touch -->
				<section>
						<header class="major">
								<h2>Get in touch</h2>
						</header>
						<p>Where there is a willing, there is a way</p>
						<ul class="contact">
								<li class="fa-envelope-o"><a href="mailto:1ikb3zz@gmail.com?subject=Dead Engineer Diary">Email Me</a></li>
								<li class="fa-telegram"><a href="https://t.me/alekum">Tg Me</a></li>
						</ul>
				</section>

				<!-- Footer -->
				<footer id="footer">
						<p class="copyright">&copy; ASTEC. Alekum. </p>
				</footer>

		</div>
</div>
